body {
    margin: 0;
    padding: 0;
    background: #E0E0E0;
}
img {
    width: 40px;
}
.onefourpage {
    border: 1px solid white; 
    background: white;
    display: inline-block;
    width: 20%;
    margin-left: 20px;
}
.topbody{
    position: relative;
}

.middlebody {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.topimg {
    display:inline-block;
}
.phonetime {
    display:inline-block;
}
.moreselect {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}
h1 {
    padding-top: 5px;
    font-size: 5px;
    color: blue;
}
.chat{
    font-size: 10px;
}
.agent {
    text-align: right
}
.chat p{
    display:inline-block;
    background-color:#00e3e3;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}
.agent p{
    text-align: left;
    border-bottom-left-radius: 10px;
    max-width: 80%;
}
.user p{
    border-bottom-right-radius: 10px;
}
.footbody{
    margin:0 auto;
    text-align: center;
}
.footpicture{
    margin:0 auto;
    text-align: center;
    display:inline-block;
    border-radius: 50%;
    background-color: bisque;
}
.footpicture img{
    width: 30px;
    padding: 10px;
}
.headsetpicture img{
    width: 45px;
}