width: 30px;
height: 25px;
border-top: 5px solid #dd575c;
border-bottom: 5px solid #dd575c;
background-color: #dd575c;
padding: 5px 0;
background-clip: content-box;
---------------------版权声明：本文为CSDN博主「dengdengda」的原创文章，遵循CC 4.0 by-sa版权协议，转载请附上原文出处链接及本声明。
原文链接：https: ; //blog.csdn.net/dengdengda/article/details/53006026
