.total-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(15,20,24);
    background-image: linear-gradient(rgb(25, 38, 49) 0.3px, transparent 0),linear-gradient(to right, rgb(25, 38, 49) 0.3px, transparent 0);
    background-size: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-body{
    height: 25px;
    width: 100%;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(25, 38, 49) 0.3px, transparent 0),linear-gradient(to bottom,black,transparent 100%);
}
.top-list{
    list-style: none;
    display: flex;
    margin-bottom: 2px;
    padding: 0;
}
.top-more{
    width: 15px;
    height: 2px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-clip: content-box;
    padding: 3px 0;
    background-color: white;
    margin-left: 5px;
}
.top-main{
    font-size: 10px;
}
.top-choose{
    font-size: 6px;
    margin-right: 730px;
    display: flex;
    align-items: center;
}
.username{
    font-size: 6px;
    margin-right: 5px;
}
.foot-body{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.foot-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}
.userinformation{
    margin-left: 15px;
    border-radius: 5%;
    background-color: rgba(60,60,60,0.4);
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.foot-img img{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.user-name1{
    text-align: center;
    font-size: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.user-sexm{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

}
.sex-detail1,.sex-detail2,.sex-detail3{
    flex-grow: 1;
}
.sex-picture{
    display: flex;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 21px;
}
.sex-picture img{
    width: 20px;
    height: 20px;
}
.user-age{
    border-left: 1px solid rgb(104,109,115);
    color: white;
    text-align: center;
}
.user-age p,.user-point p{
    font-size: 20px;
}
.user-img2 p,.user-age2 p,.user-point2 p{
    font-size: 6px;
    color: white;
    text-align: center;
}
.user-point{
    color: rgb(90,197,252);
    border-left: 1px solid rgb(104,109,115);
    text-align: center;
}
.login-time{
    text-align: center;
    color: #ffffff;
    font-size: 8px;
    border-bottom: 1px solid rgb(104,109,115);
    margin-top: 13px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.userp{
    font-size: 7px;
    color: rgb(224, 224, 224);
    margin-bottom: 2px;
}
.user-actep{
    color: rgb(89,159,196);
    font-size: 10px;
    margin-bottom: 15px;
}
.user-recordep{
    color: rgb(186,108,83);
    font-size: 10px;
    margin-bottom: 15px;
}
.user-piontep{
    color: rgb(183,99,117);
    font-size: 8px;
    margin-top: 5px;
}
.members1 p{
    color: rgb(204, 212, 223);
    font-size: 6px;
}
.userinformation{
    width: 20%;
}
.text-message{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.user-status{
    width: 15%;
    text-align: center;
    border-left: 0.5px solid rgb(104,109,115);
}
.members1{
    flex: 1;
}

.workefficiency{
    flex: 0 0 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.workquality{
    flex: 0 0 100%;

}
.workefficiency1 p{
    color: rgb(204, 212, 223);
    font-size: 10px;
    margin-bottom: 20px;
}
.workefficiency3 p{
    margin: 0;
}
.workefficiency21{
    color: rgb(90,197,252);
    font-size: 20px;
}
.workefficiency22{
    color: rgb(90,197,252);
    font-size: 10px;
}
.workefficiency311{
    margin-top: 15px;
    font-size: 20px;
    color: rgb(183,99,117);
}
.workefficiency312{
    color: rgb(183,99,117);
    font-size: 10px;
}
.workefficiency321{
    color: rgb(0, 174, 255);
    font-size: 20px;
}
.workefficiency322{
    font-size: 10px;
    color: rgb(0, 174, 255);
}
.workefficiency411{
    font-size: 20px;
    color: rgb(152,208,150);
}
.workefficiency412{
    font-size: 10px;
    color: rgb(152,208,150);
}
.workefficiency421{
    font-size: 20px;
    color: rgb(0, 174, 255);
}
.workefficiency422{
    font-size: 10px;
    color: rgb(0, 174, 255);
}
.workefficiency3,.workefficiency4{
    display: flex;
    margin-right: 35px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.workefficiency31,.workefficiency32,.workefficiency41,.workefficiency42{
    display: inline-block;
}
.workefficiency31 p,.workefficiency32 p{
    margin-top: 8px;
    text-align: left;
}
.workefficiency32,.workefficiency42{
    text-align: left;
}
.marketcp{
    flex: 0 0 40%;
    border-left: 0.5px solid rgb(104,109,115);
    margin-bottom: 10px;
}
.footexp{
    text-align: center;
}
.marketcp1{
    margin-bottom: 10px;
    font-size: 10px;
    margin-left: 10px;
}
.marketcp1 p{
    font-size: 10px;
}
.marketcp2{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-left: 30px;
}
.workquality1{
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 10px;
}
.foot-exp1{
    text-align: center;
}
.capability1-circle1 p{
    text-align: center;
    font-size: 10px;
    color: aliceblue;
    line-height: 40px;
}
.userstatus1 p{
    color: rgb(204, 212, 223);
    font-size: 10px;
}
.user-statusp{
    color: rgba(240, 248, 255, 0.555);
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-status2{
    color: rgb(0, 174, 255);
    font-size: 15px;
    margin-bottom: 10px;
}
.user-status3{
    font-size: 7px;
    margin-bottom: 15px;
}
.user-status5{
    font-size: 6px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.user-status7{
    font-size: 6px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.user-status11{
    font-size: 8px;
    margin-bottom: 15px;
    color: white;
}
.workquality{
    margin-top: 3px;
    border-top: 0.5px solid rgb(104,109,115);
}
.workquality2{
    display: flex;
    justify-content: space-between;
}
.work-num p{
    color: white;
    font-size: 6px;
    text-align: center;
}
.capability1-circle2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.capability1-circle2 p{
    font-size: 15px;
    color: white;
}
.box-left1{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right1{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-120.96deg);
}
.user-status41{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.user-status41 p{
    font-size: 15px;
    color: white;
}
.box-left2{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right2{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(152,208,150);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(152,208,150);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-21.96deg);
}
.user-status61{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-status61 p{
    font-size: 15px;
    color: white;
}
.box-left3{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right3{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(348.84deg);
}
.circle-right3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-360deg);
}
.workquality21{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workquality21 p{
    font-size: 15px;
    color: white;
}
.box-left4{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right4{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-180deg);
}
.workquality22{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workquality22 p{
    font-size: 15px;
    color: white;
}
.box-left5{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right5{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left5{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right5{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-15.84deg);
}
.workquality23{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.workquality23 p{
    font-size: 15px;
    color: white;
}
.box-left6{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right6{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left6{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right6{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-81deg);
}
.workquality24{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.workquality24 p{
    font-size: 15px;
    color: white;
}
.box-left7{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right7{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left7{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(183,99,117);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right7{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(183,99,117);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-108.72deg);
}
.workquality25{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.workquality25 p{
    font-size: 15px;
    color: white;
}
.box-left8{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right8{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left8{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(183,99,117);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right8{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(183,99,117);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-141.12deg);
}
.foot-img1{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
}
.box-left9{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right9{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left9{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right9{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-81deg);
}
.capability1-circle1{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.capability1-circle1 p{
    font-size: 15px;
    color: white;
}
.box-left10{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    clip: rect(0 33px 66px 0);
    overflow: hidden;
}
.box-right10{
    position: absolute;
    right: -3px;
    top: -3px;
    width: 33px;
    height: 66px;
    overflow: hidden;
    clip: rect(0 33px 66px 0);
}
.circle-left10{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:50px 0 0 50px;
    border: 3px solid rgb(0, 174, 255);
    border-right: transparent;
    transform-origin: right center;
    transform: rotate(180deg);
}
.circle-right10{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 60px;
    border-radius:0 50px 50px 0;
    border: 3px solid rgb(0, 174, 255);
    border-left: transparent;
    transform-origin: left center;
    transform: rotate(-180deg);
}