body {
  margin: 0;
}
.entirety {
  margin: 0;
  padding: 0;
  position: relative;
}
.topper {
  width: 100%;
  background-color: #0b102d;
  z-index: 8;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
.topper .nav {
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  background-color: #0b102d;
  z-index: 10;
}
.topper .nav .logo {
  height: 50px;
}
.topper .nav .logo img {
  width: 194px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.topper .nav .mainer {
  list-style: none;
  display: flex;
  color: aliceblue;
  font-size: 16px;
  margin: 0;
  height: 50px;
  padding: 0;
}
.topper .nav .mainer li {
  margin-right: 100px;
}
.topper .nav .mainer a {
  text-align: center;
  cursor: pointer;
}
.topper .nav .mainer a:hover {
  color: #3981f7;
}
.topper .nav .mainer .service {
  position: relative;
}
.topper .nav .mainer .service:hover .detail {
  display: block;
}
.topper .nav .mainer .service .detail {
  display: none;
  position: absolute;
  min-width: 500px;
  padding: 12px 0;
  height: 350px;
  text-align: center;
  top: 50px;
  left: -250px;
}
.topper .nav .mainer .service .detail .caser {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background-color: #0b102d;
  box-shadow: 0 8px 16px 0 rgba(11, 16, 45, 0.6);
  border-radius: 10px;
  padding: 10px;
}
.topper .nav .mainer .service .detail .caser .portion {
  flex: 0 0 30%;
  margin-left: 15px;
}
.topper .nav .mainer .service .detail .caser .portion p {
  text-align: left;
  font-size: 16px;
}
.topper .nav .mainer .service .detail .caser .portion a {
  font-size: 14px;
  color: #d0d0d0;
}
.topper .nav .mainer .service .detail .caser .portion a:hover {
  color: #3981f7;
}
.topper .nav .mainer .service .detail .caser .portion .line {
  border-bottom: 1px solid #5f5f55;
}
.topper .nav .mainer .service .detail .caser:before {
  content: "";
  position: absolute;
  bottom: 100%;
  top: -10px;
  right: 200px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 12px;
  border-bottom-color: currentColor;
  color: rgba(11, 16, 45, 0.8);
}
.topper .nav .mainer .service .module {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.topper .nav .mainer .service .module .arrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topper .nav .mainer .service .module .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .service .module:hover {
  color: #3981f7;
  cursor: pointer;
}
.topper .nav .mainer .service .module:hover .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #3981f7;
  border-right: 1px solid #3981f7;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .solution {
  position: relative;
}
.topper .nav .mainer .solution:hover .minutia {
  display: block;
}
.topper .nav .mainer .solution .minutia {
  display: none;
  position: absolute;
  min-width: 230px;
  padding: 12px 0;
  height: 120px;
  text-align: center;
  top: 50px;
  left: -80px;
}
.topper .nav .mainer .solution .minutia .box {
  background-color: #0b102d;
  box-shadow: 0 8px 16px 0 rgba(11, 16, 45, 0.6);
  padding: 20px 0 20px 15px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.topper .nav .mainer .solution .minutia .box div {
  flex: 0 0 100%;
  font-size: 16px;
  color: aliceblue;
  text-align: left;
}
.topper .nav .mainer .solution .minutia .box:before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: 100%;
  right: 100px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 12px;
  border-bottom-color: currentColor;
  color: rgba(11, 16, 45, 0.8);
}
.topper .nav .mainer .solution .scheme {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.topper .nav .mainer .solution .scheme .arrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topper .nav .mainer .solution .scheme .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .solution .scheme:hover {
  color: #3981f7;
}
.topper .nav .mainer .solution .scheme:hover .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #3981f7;
  border-right: 1px solid #3981f7;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .resource {
  position: relative;
}
.topper .nav .mainer .resource .specific {
  display: none;
  position: absolute;
  min-width: 400px;
  padding: 12px 0;
  height: 200px;
  text-align: center;
  top: 50px;
  left: -160px;
}
.topper .nav .mainer .resource .specific .casket {
  background-color: #0b102d;
  box-shadow: 0 8px 16px 0 rgba(11, 16, 45, 0.6);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.topper .nav .mainer .resource .specific .casket .casketer {
  flex-grow: 1;
}
.topper .nav .mainer .resource .specific .casket .casketer p {
  text-align: left;
  font-size: 16px;
}
.topper .nav .mainer .resource .specific .casket .casketer a {
  font-size: 14px;
  color: #d0d0d0;
}
.topper .nav .mainer .resource .specific .casket .casketer a:hover {
  color: #3981f7;
}
.topper .nav .mainer .resource .specific .casket .casketer .thread {
  border-bottom: 1px solid #5f5f55;
}
.topper .nav .mainer .resource .specific .casket .left {
  margin-left: 10px;
}
.topper .nav .mainer .resource .specific .casket .right {
  margin-right: 10px;
  margin-left: 60px;
}
.topper .nav .mainer .resource .specific .casket:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 200px;
  top: -10px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 12px;
  border-bottom-color: currentColor;
  color: rgba(11, 16, 45, 0.8);
}
.topper .nav .mainer .resource .development {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.topper .nav .mainer .resource .development .arrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topper .nav .mainer .resource .development .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .resource .development:hover {
  color: #3981f7;
}
.topper .nav .mainer .resource .development:hover .arrowUp::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #3981f7;
  border-right: 1px solid #3981f7;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 7px;
  margin-bottom: 3px;
}
.topper .nav .mainer .resource:hover .specific {
  display: block;
}
.topper .nav .mainer .plus .piece {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 10px;
}
.topper .nav .mainer .plus .piece:hover {
  color: #3981f7;
}
.topper .nav .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topper .nav .user span {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.topper .nav .user a {
  cursor: pointer;
}
.topper .nav .user a:hover {
  color: #3981f7;
}
.topper .nav .user .login,
.topper .nav .user .register {
  color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
}
.main {
  text-align: center;
  margin-top: 50px;
  min-width: 1400px;
}
.roll {
  margin: 0;
  padding: 0;
}
.roll img {
  width: 100%;
}
.technology {
  text-align: center;
  width: 1400px;
  margin: 60px auto;
}
.technology h1 {
  width: 100%;
  font-size: 24px;
  margin: 0;
  color: #525a6c;
}
.technology p {
  font-size: 16px;
  color: #525a6c;
  margin: 16px 0 0 0;
}
.technology .contend {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.technology .contend .part {
  flex: 0 0 32%;
  margin-top: 40px;
}
.technology .contend .part .box {
  box-shadow: 0 0 5px #cccccc;
  height: 180px;
  display: flex;
  margin: 0;
  padding: 50px 30px 40px 12px;
}
.technology .contend .part .box h1 {
  text-align: left;
  color: #525a6c;
}
.technology .contend .part .box p {
  text-align: left;
  color: #5a5c6e;
  font-size: 14px;
  line-height: 30px;
}
.technology .contend .part .box .photograph img {
  width: 36px;
  margin-right: 20px;
  opacity: 0.7;
}
.technology .contend .microphone,
.technology .contend .happy {
  padding: 0 7px;
}
.resolvent {
  width: 1400px;
  margin: 60px auto;
}
.resolvent p {
  font-size: 16px;
  color: #525a6c;
  margin-bottom: 40px;
}
.resolvent h1 {
  font-size: 24px;
  margin: 0;
  color: #525a6c;
}
.resolvent .solution {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.resolvent .solution .part {
  position: relative;
  overflow: hidden;
  flex: 0 0 33.19%;
  height: 280px;
  border: 1px solid #cccccc;
  margin: 0;
  cursor: pointer;
}
.resolvent .solution .part:hover {
  background-color: rgba(31, 122, 226, 0.7);
}
.resolvent .solution .part img {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
  top: -20px;
  border-style: none;
}
.resolvent .solution .part h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  padding: 80px 30px 0 30px;
}
.resolvent .solution .part p {
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 0 20px 30px 20px;
  display: none;
}
.resolvent .solution .part .content {
  z-index: 1;
}
.resolvent .solution .part:hover .content p {
  display: block;
}
.resolvent .solution .part:hover .content {
  transform: translate(0, -60px);
  transition: all 0.2s ease 0s;
}
.resolvent .solution .part:hover .material {
  transform: translate(0, -60px);
  transition: all 0.2s ease 0s;
}
.scenarios {
  margin: 60px auto;
  min-width: 1400px;
}
.scenarios h1 {
  font-size: 24px;
  margin: 0;
  color: #525a6c;
}
.scenarios .application {
  width: 100%;
  background-color: #1f3656;
  background-repeat: no-repeat;
  background-image: url("images/application-scenarios.jpg");
  height: 600px;
  background-position: top center;
  margin-top: 40px;
}
.scenarios .application .list {
  width: 1400px;
  margin: auto;
  height: 600px;
  position: relative;
  list-style: none;
  padding: 0;
}
.scenarios .application .list .communication {
  position: absolute;
  width: 20%;
  text-align: right;
  left: -25px;
  top: 20px;
}
.scenarios .application .list .financial {
  position: absolute;
  width: 20%;
  text-align: left;
  left: 750px;
  top: 90px;
}
.scenarios .application .list .estate {
  position: absolute;
  width: 20%;
  text-align: right;
  left: 880px;
  top: 150px;
}
.scenarios .application .list .education {
  position: absolute;
  width: 20%;
  text-align: right;
  left: 50px;
  top: 390px;
}
.scenarios .application .list .retail {
  position: absolute;
  width: 20%;
  text-align: left;
  left: 650px;
  top: 300px;
}
.scenarios .application .list .collection {
  position: absolute;
  width: 20%;
  text-align: left;
  left: 1020px;
  top: 430px;
}
.scenarios .application .list .part {
  border-radius: 10px;
  cursor: pointer;
}
.scenarios .application .list .part:hover p {
  display: block;
}
.scenarios .application .list .part:hover {
  background-color: rgba(22, 33, 61, 0.8);
}
.scenarios .application .list .part p {
  font-size: 14px;
  color: white;
  line-height: 2;
  opacity: 0.6;
  padding: 10px;
  display: none;
}
.scenarios .application .list .part h2 {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 10px;
}
.demand {
  width: 1400px;
  text-align: center;
  margin: 0 auto;
}
.demand h1 {
  text-align: center;
  font-size: 24px;
  color: #525a6c;
  margin: 0 0 0 0;
}
.demand p {
  text-align: center;
  font-size: 16px;
  color: #525a6c;
  margin: 16px 0 0 0;
  line-height: 2;
}
.demand .problem {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.demand .problem .faq {
  width: 1400px;
  border: 1px solid #ececec;
  border-spacing: 0;
  text-align: center;
  margin: 0;
}
.demand .problem .faq tr {
  line-height: 3;
}
.demand .problem .faq tr:nth-child(2n-1) {
  background-color: #f8f8f9;
}
.demand .problem .faq tr:nth-child(n+2):hover {
  background-color: #edf7fe;
}
.demand .problem .faq th {
  font-size: 12px;
  color: #515a6e;
}
.demand .problem .faq td {
  width: 700px;
  text-align: center;
  border-top: 1px solid #ececec;
  font-size: 12px;
  color: #515a6e;
}
.case {
  text-align: center;
  width: 1400px;
  margin: 60px auto;
}
.case h1 {
  font-size: 24px;
  color: #525a6c;
  margin: 0 0 40px 0;
}
.case .part {
  display: flex;
  justify-content: space-around;
  margin: 30px 40px;
}
.case .part .box {
  flex: 0 0 25%;
}
.case .part .box p {
  text-align: left;
  font-size: 14px;
  color: #525a6c;
  margin: 20px 0 0 0;
  line-height: 2;
}
.case .part .box h2 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0 0 0;
  color: #525a6c;
}
.tail {
  min-width: 1400px;
  margin: 0;
}
.tail .foot {
  width: 100%;
  margin: 0;
  background-color: #0b102d;
}
.tail .foot .box {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.tail .foot .box a {
  cursor: pointer;
  font-size: 14px;
  color: aliceblue;
}
.tail .foot .box img {
  width: 180px;
  height: 160px;
  margin: auto 0;
}
.tail .foot .box div {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tail .foot .box h2 {
  color: aliceblue;
  font-size: 20px;
}
.tail .foot .box a:hover {
  color: #3981f7;
}
